<div>
  <%= form_for @option do |f| %>
    <%= f.radio_button :choice, "poll", :class => "options" %>Poll
    <br/>
    <%= f.radio_button :choice, "slideshow", :class => "options" %>Slideshow
    <br/>
    <%= f.radio_button :choice, "countdown", :class => "options" %>Countdown
    <br/>
    <%= f.radio_button :choice, "this_or_that", :class => "options" %>This or That?
    <br/>
    <%= f.radio_button :choice, "all_of_the_above", :class => "options" %>All of the above
    <br/>

    <%= f.submit "Vote!", :class => 'vote_button' %>
  <%- end %>
</div>
